.block-content {
  display: flex;
  text-align: center;
  justify-content: center;
  transition:  1.5s;
}

span, p, input, a, h1,h2,h3,h4 {
  font-family: "Montserrat", sans-serif;
}

.tooltip-toggle {
  left: 230px;
  bottom: 27px;
}

#block-intro {
  z-index: 2;
  width: 60%;
  height: 100vh;
  position: relative;
  background-color: #6F42C1;
}
span{
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.headers {
  font-size: 30px !important;
  margin: 25px 0 30px;
  height: 35px;
  text-align: center;
  color: #A783DD;
}
.opacity {
  opacity: 0 !important;
  transition: 0.3s !important;
}
.nameSite {
  color: #7B46CC;
  font-size: 50px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  display: flex;
  text-shadow: 2px 2px 2px #513486;
}

#content-register{
  width: 70%;
  height: 100%;
  position: absolute;
}

.toRegisterMove {
  opacity: 0;
  transition: 0.5s;
}

.rotate {
  transform: translateX(425%) rotate(180deg);
}

.img {
  transition: 0.5s;
  opacity: 65%;
  width: 600px;
  height: 400px;
  z-index: 2;
  transform: translateY(45%);
}

.right {
  float: right;
}

.blockMoveRight {
  z-index: 2;
  width: 100% !important;
  transition: 1.5s;
}

.blockMoveRight2 {
  width: 30% !important;
  transition: 1.5s;
}

.toRegister {
  cursor: pointer;
  z-index: 3;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 2px solid #50208D;
  border-radius: 55%;
  left: 50%;
  top: 50%;
  left: 58.8%;
  top: 25%;
  transition: 0.5s;
}

.hide {
  display: none;
}

#text {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60%;
  width: 70%;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
   transition: 0.5s;
}

.headerStep {
  color: #6F42C1 !important;
}

.iconsStep {
  transform: translate(-10px, 15px) !important;
}

.arrow-icon {
  font-size: 30px;
  color: #50208D;
}

.logInSocialNetworks {
  margin-top: 65px;
  text-align: center;
}

.logInSocialNetworks ul {
  list-style: none;
}

.logInSocialNetworks ul li {
  width: 40px;
  height: 40px;
  background: #fff;
  display: inline-block;
  transform: translateX(-20px);
}

.icon-society.vk:hover {
  transform: translateY(-4px);
  transition: 0.5s;
}

.icon-society.twitter:hover {
  transform: translateY(-4px);
  transition: 0.5s;
}

.icon-society.google:hover {
  transform: translateY(-4px);
  transition: 0.5s;
}

.icon-society.facebook:hover {
  transform: translateY(-4px);
  transition: 0.5s;
}

.icon-society {
  padding: 1.5px;
  width: 25px;
  border-radius: 3px;
  margin-top: 15%;
  font-size: 1.3em;
  transition: 0.5s;
}

.facebook {
  color: #4267B2;
}

.twitter {
  color: #1CA1F1;
}

.google {
  color: #ED4336;
}

.vk {
  color: #4A76A8;
}

.icons {
  font-size: 30px;
  color: #8058C8;
  margin-right: 10px;
  transform: translate(-10px, 30px);
}

.inputs-forms {
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
  position: absolute;
  top: 36%;
}

.btn-singIn {
  color: #6F42C1;
  width: 150px;
  margin: 25px auto 10px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #906DCF;
  font-size: 20px;
  display: inline-block;
  cursor: pointer;
}

.btn-singIn:active,.btn-singIn:focus  {
  outline: none;
}
mat-form-field {
  width: 300px;
}

a {
  color: #6F42C1;
  font-size: 15px;
  display: inline-block;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.register-panel {
  width: 50%;
  margin: 10px auto 0px;
  height: 70%;
  border-radius: 15px;
}

.tooltip-toggle {
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease;

  svg {
    height: 18px;
    width: 18px;
  }

  &::before {
    position: absolute;
    top: -66px;
    left: -66px;
    background-color: #6B3FB9;
    border-radius: 5px;
    color: #fff;
    content: attr(aria-label);
    padding: 0.3rem;
    text-transform: none;
    transition: all 0.5s ease;
    width: 140px;
  }

  &-checkLogin::before {
    top: -39px !important;
  }

  &-checkLogin {
    left: 5px;
    top: 5px;
  }

  &-password::before {
    top: -39px;
  }

  &::after {
    position: absolute;
    top: -16px;
    left: 9px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #6B3FB9;
    content: " ";
    font-size: 0;
    line-height: 0;
    margin-left: -5px;
    width: 0;
  }

  &::before,
  &::after {
    color: #efefef;
    font-family: monospace;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    text-align: center;
  }

  &:focus::before,
  &:focus::after,
  &:hover::before,
  &:hover::after {
    opacity: 1;
    transition: all 0.75s ease;
  }
}

.btnflip {
  position: absolute;
  top: 66%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 10px;
  text-align: center;
  transform-style: preserve-3d;
  transform-origin: center center;
}
.errorRespond {
  margin: 35px 0 0 0;
  color: #FF0B07;
  position: absolute;
  width: 400px;
  left: 12%;
  text-align: center;
}

.btnflip-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 10px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.05);
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: 1s;
}
.btnflip-item.btnflip__front {
  transform: rotateX(0deg) translateZ(20px);
}
.btnflip:hover .btnflip-item.btnflip__front {
  transform: rotateX(-180deg) translateZ(20px);
}
.btnflip-item.btnflip__back {
  transform: rotateX(180deg) translateZ(20px);
}
.btnflip:hover .btnflip-item.btnflip__back {
  transform: rotateX(0deg) translateZ(20px);
}
