<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

<div style ="height: 100vh; overflow: hidden;">
  <div id="toRegister" class="toRegister">
    <span ><mat-icon (click)="toRegisterOrLogInShow()" class="arrow-icon">keyboard_arrow_right</mat-icon></span>
  </div>
  <div id="content-register" class="hide">
    <h2 class="headers">Регистрация</h2>
    <mat-vertical-stepper [linear]="true" #stepper class="register-panel">
      <mat-step [stepControl]="fullNameFormGroup" errorMessage="Не все поля заполнены!">
        <form [formGroup]="fullNameFormGroup">
          <ng-template matStepLabel ><span class="headerStep">Имя и фамилия</span></ng-template>
          <mat-icon class="icons iconsStep">account_circle</mat-icon>
          <mat-form-field>
            <mat-label>Имя</mat-label>
            <input matInput placeholder="Введите имя" [(ngModel)]="user.firstName" formControlName="firstName" required>
          </mat-form-field><br>
          <mat-icon class="icons iconsStep">account_circle</mat-icon>
          <mat-form-field>
            <mat-label>Фамилия</mat-label>
            <input matInput placeholder="Введите фамилию" [(ngModel)]="user.lastName" formControlName="lastName" required>
          </mat-form-field>
          <div style="margin-left: 30px;">
            <button mat-button matStepperNext class="btn-next">Дальше</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="phoneFormGroup">
        <form [formGroup]="phoneFormGroup">
          <ng-template matStepLabel><span class="headerStep">Пол и телефон</span></ng-template>
          <mat-icon class="icons iconsStep">phone</mat-icon>
          <mat-form-field>
            <mat-label phone>Телефон</mat-label>
            <input matInput type="tel" placeholder="Введите номер телефон" [(ngModel)]="user.phone" formControlName="phone">
          </mat-form-field>
          <div style="margin: 10px 30px 25px;">
            <mat-radio-group [(ngModel)]="user.gender" name="gender" formControlName="gender">
              <mat-radio-button value="MAN" class="headerStep" style="margin-right: 110px">Мужской</mat-radio-button>
              <mat-radio-button value="WOMAN" class="headerStep">Женский</mat-radio-button>
            </mat-radio-group>
          </div>
          <div style="margin-left: 30px;">
            <button mat-button matStepperPrevious class="btn-cancel">Назад</button>
            <button mat-button matStepperNext class="btn-next">Дальше</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="emailFormGroup" errorMessage="Не все поля заполнены!">
        <form [formGroup]="emailFormGroup">
          <ng-template matStepLabel><span class="headerStep">Email и секретное слово</span></ng-template>
          <mat-icon class="icons iconsStep">alternate_email</mat-icon>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="emailCtrl" [(ngModel)]="user.email" formControlName="email" placeholder="Введите email" required>
          </mat-form-field><br>
          <mat-icon class="icons iconsStep">lock</mat-icon>
          <mat-form-field>
            <mat-label>Секретное слово</mat-label>
            <input matInput placeholder="Введите секретное слово" [(ngModel)]="user.secretWord" formControlName="secretWord" required>
          </mat-form-field>
          <div style="margin-left: 30px;">
            <button mat-button matStepperPrevious class="btn-cancel">Назад</button>
            <button mat-button matStepperNext class="btn-next">Дальше</button>
          </div>
          <span class="tooltip-toggle secretWord" aria-label="Секретное слово неободимо для востановления доступа" tabindex="0">
            <svg viewBox="0 0 27 27" xmlns="http://www.w3.org/2000/svg"><g fill="#6B3FB9" fill-rule="evenodd"><path d="M13.5 27C20.956 27 27 20.956 27 13.5S20.956 0 13.5 0 0 6.044 0 13.5 6.044 27 13.5 27zm0-2C7.15 25 2 19.85 2 13.5S7.15 2 13.5 2 25 7.15 25 13.5 19.85 25 13.5 25z"/><path d="M12.05 7.64c0-.228.04-.423.12-.585.077-.163.185-.295.32-.397.138-.102.298-.177.48-.227.184-.048.383-.073.598-.073.203 0 .398.025.584.074.186.05.35.126.488.228.14.102.252.234.336.397.084.162.127.357.127.584 0 .22-.043.412-.127.574-.084.163-.196.297-.336.4-.14.106-.302.185-.488.237-.186.053-.38.08-.584.08-.215 0-.414-.027-.597-.08-.182-.05-.342-.13-.48-.235-.135-.104-.243-.238-.32-.4-.08-.163-.12-.355-.12-.576zm-1.02 11.517c.134 0 .275-.013.424-.04.148-.025.284-.08.41-.16.124-.082.23-.198.313-.35.085-.15.127-.354.127-.61v-5.423c0-.238-.042-.43-.127-.57-.084-.144-.19-.254-.318-.332-.13-.08-.267-.13-.415-.153-.148-.024-.286-.036-.414-.036h-.21v-.95h4.195v7.463c0 .256.043.46.127.61.084.152.19.268.314.35.125.08.263.135.414.16.15.027.29.04.418.04h.21v.95H10.82v-.95h.21z"/></g></svg>
          </span>
        </form>
      </mat-step>
      <mat-step [stepControl]="passwordFormGroup" errorMessage="Не все поля заполнены!">
        <form [formGroup]="passwordFormGroup">
          <ng-template matStepLabel><span class="headerStep">Логин и пароль</span></ng-template>
          <mat-icon class="icons iconsStep">supervisor_account</mat-icon>
          <mat-form-field>
            <mat-label>Логин</mat-label>
            <input id="input_login" matInput  (blur)="checkLogin()"  [(ngModel)]="user.username" formControlName="userName" placeholder="Введите логин" required>
          </mat-form-field>
          <span class="tooltip-toggle  tooltip-toggle-checkLogin" aria-label="Этот логин уже занят" tabindex="0"
          [class.opacity]="!usernameIsBusy || this.checkUsername != user.username">
            <svg viewBox="0 0 27 27" xmlns="http://www.w3.org/2000/svg"><g fill="#6B3FB9" fill-rule="evenodd"><path d="M13.5 27C20.956 27 27 20.956 27 13.5S20.956 0 13.5 0 0 6.044 0 13.5 6.044 27 13.5 27zm0-2C7.15 25 2 19.85 2 13.5S7.15 2 13.5 2 25 7.15 25 13.5 19.85 25 13.5 25z"/><path d="M12.05 7.64c0-.228.04-.423.12-.585.077-.163.185-.295.32-.397.138-.102.298-.177.48-.227.184-.048.383-.073.598-.073.203 0 .398.025.584.074.186.05.35.126.488.228.14.102.252.234.336.397.084.162.127.357.127.584 0 .22-.043.412-.127.574-.084.163-.196.297-.336.4-.14.106-.302.185-.488.237-.186.053-.38.08-.584.08-.215 0-.414-.027-.597-.08-.182-.05-.342-.13-.48-.235-.135-.104-.243-.238-.32-.4-.08-.163-.12-.355-.12-.576zm-1.02 11.517c.134 0 .275-.013.424-.04.148-.025.284-.08.41-.16.124-.082.23-.198.313-.35.085-.15.127-.354.127-.61v-5.423c0-.238-.042-.43-.127-.57-.084-.144-.19-.254-.318-.332-.13-.08-.267-.13-.415-.153-.148-.024-.286-.036-.414-.036h-.21v-.95h4.195v7.463c0 .256.043.46.127.61.084.152.19.268.314.35.125.08.263.135.414.16.15.027.29.04.418.04h.21v.95H10.82v-.95h.21z"/></g></svg>
          </span><br>
          <mat-icon class="icons iconsStep">lock</mat-icon>
          <mat-form-field>
            <mat-label>Пароль</mat-label>
            <input matInput type="password"  [(ngModel)]="user.password" formControlName="passwordRegister" placeholder="Введите пароль" required>
          </mat-form-field><br>
          <mat-icon class="icons iconsStep">lock</mat-icon>
          <mat-form-field>
            <mat-label>Подтвердить пароль</mat-label>
            <input matInput type="password" placeholder="Подтвердите пароль" [(ngModel)]="confrimPassword" formControlName="confrimPassword" required>
          </mat-form-field><br>
          <div style="margin-left: 30px;">
            <button mat-button matStepperPrevious class="btn-cancel">Назад</button>
            <button mat-button matStepperNext class="btn-next"
            [disabled]="user.password != confrimPassword || confrimPassword?.length == 0 || usernameIsBusy ||
            user?.password?.length == 0 || user?.password == null || confrimPassword == null ||
            this.checkUsername != user.username">Дальше</button>
          </div>
          <span class="tooltip-toggle secretWord tooltip-toggle-password" aria-label="Пароли не совпадают" tabindex="0"
            [class.opacity]="!(user.password != confrimPassword || confrimPassword?.length == 0 || user?.password?.length == 0)">
            <svg viewBox="0 0 27 27" xmlns="http://www.w3.org/2000/svg"><g fill="#6B3FB9" fill-rule="evenodd"><path d="M13.5 27C20.956 27 27 20.956 27 13.5S20.956 0 13.5 0 0 6.044 0 13.5 6.044 27 13.5 27zm0-2C7.15 25 2 19.85 2 13.5S7.15 2 13.5 2 25 7.15 25 13.5 19.85 25 13.5 25z"/><path d="M12.05 7.64c0-.228.04-.423.12-.585.077-.163.185-.295.32-.397.138-.102.298-.177.48-.227.184-.048.383-.073.598-.073.203 0 .398.025.584.074.186.05.35.126.488.228.14.102.252.234.336.397.084.162.127.357.127.584 0 .22-.043.412-.127.574-.084.163-.196.297-.336.4-.14.106-.302.185-.488.237-.186.053-.38.08-.584.08-.215 0-.414-.027-.597-.08-.182-.05-.342-.13-.48-.235-.135-.104-.243-.238-.32-.4-.08-.163-.12-.355-.12-.576zm-1.02 11.517c.134 0 .275-.013.424-.04.148-.025.284-.08.41-.16.124-.082.23-.198.313-.35.085-.15.127-.354.127-.61v-5.423c0-.238-.042-.43-.127-.57-.084-.144-.19-.254-.318-.332-.13-.08-.267-.13-.415-.153-.148-.024-.286-.036-.414-.036h-.21v-.95h4.195v7.463c0 .256.043.46.127.61.084.152.19.268.314.35.125.08.263.135.414.16.15.027.29.04.418.04h.21v.95H10.82v-.95h.21z"/></g></svg>
          </span>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel><span class="headerStep">Завершить регистрацию</span></ng-template>
        <div>
          <!-- <p class="headerStep" style="text-align: center;">
            Для завершения регистрации подтвердите что вы являетесь владельцем указанного электронного адреса
          </p> -->
          <div style="margin: 20px auto; display: flex; justify-content: center;">
            <button mat-button (click)="confrimEmail()" class="btn-next" >Закончить зегистрацию</button>
          </div>
        </div>
        <div>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
  <div id="block-intro" class="block-content">
    <div id="intro-content">
      <img id='img' class="img" src="../../../assets/emblema.png">
      <p id="text" class="hide">Зарегестрируйтесь чтобы получить больше возможностей</p>
      <div id='nameSite' class="nameSite">
        <span>K</span>
        <span>A</span>
        <span>L</span>
        <span>D</span>
        <span>E</span>
        <span>N</span>
        <span>T</span>
        <span>E</span>
      </div>
    </div>
  </div>
  <div id="block-inputs-form" class="block-content" style="width: 40%; height: 100vh; float:right">
    <div class="inputs-forms">
      <div style="display: flex">
        <mat-icon class="icons">account_box</mat-icon>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Логин</mat-label>
            <input matInput placeholder="Логин" name="login" [(ngModel)]="user.username">
          </mat-form-field>
        </form>
      </div>
      <div style="display: flex">
        <mat-icon class="icons">lock</mat-icon>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Пароль</mat-label>
            <input type="password" name="password" matInput placeholder="Пароль" [(ngModel)]="user.password">
          </mat-form-field>
        </form>
      </div>
      <button class="btn-singIn" (click)="login()">Войти</button><br>
      <a class="btnflip">
        <span class="btnflip-item btnflip__front">Забыли пароль?</span>
  <span class="btnflip-item btnflip__back" style="cursor: pointer;">Восстановить доступ</span>
     </a>
      <p class="errorRespond">{{errorMessage}}</p>
      <div class="logInSocialNetworks">
        <ul>
          <li>
            <div class="icon-society facebook">
              <i class="fab fa-facebook"></i>
            </div>
          </li>
          <li>
            <div class="icon-society twitter">
              <i class="fab fa-twitter"></i>
            </div>
          </li>
          <li>
            <div class="icon-society google">
              <i class="fab fa-google"></i>
            </div>
          </li>
          <li>
            <div class="icon-society vk">
              <i class="fab fa-vk"></i>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
