<div class="message">
  errorCode: "{{error?.status}}"
  <br>
  error message: "{{error?.error?.message}}"
  <br>
  operation: "{{operation}}"
</div>
<button mat-button class="blue" (click)="onOkClick()">Ок</button>

