<!--
<div
style="display: flex; justify-content: center;
 align-items: center;">
  <h1>Лента</h1>

<a routerLink="login">sing up</a>
</div>
<div> -->
  <router-outlet></router-outlet>
<!-- </div> -->

<!-- <div>
  <router-outlet></router-outlet>
</div> -->
