<div class="container" *ngIf="isActive">
  <div class="panel">
    <p>Ваша почта подтверждена</p>
    <button mat-button class="btn-next" (click)="close()">Закрыть</button>
  </div>
</div>

<div class="container" *ngIf="!isActive">
  <p class="notFound">error 404: not found</p>
</div>
