.container {
  overflow: hidden;
  height: 100vh;
  position: relative;

  &::before {

    content: "";
    background: linear-gradient(45deg, #472A7B, #9C7FD0);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    z-index: 1;
    -webkit-filter: blur(1.5px);
    filter: blur(1.5px);
  }




  .panel {
    z-index: 2;
    width: 300px;
    height: 150px;
    position: absolute;
    background-color: white;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 50%);
    filter: none;
    border-radius: 4px;
    border: solid 1.5px #6B3FB9;
  }

  button {
    display: flex;
    justify-content: center;
    z-index: 3;
    margin: 20px auto;
  }

  p {
    text-align: center;
    color: #6E45BF;
    margin-top: 35px;
  }

  .notFound {
    font-family: Verdana, Geneva, sans-serif;
    z-index: 2;
    width: 850px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 20%;
    color: rgba(#492E7F, 0.6);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
    transform: translate(-50%, 50%);
    font-weight: bold;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 45px;
  }
}


