@import url('https://fonts.googleapis.com/css?family=Mukta:700');


button:disabled {
  background-color: #D5D5D5;
  color: #9F81D5;
  border: solid 1.5px #9F81D5 !important;
  transition: 0.5s
}

span {
  transition: 5s;
}

.container {
  transition: 1.5s;
  overflow-y: hidden;
}

.fullHeight {
  height: 125px !important;
}

#repeatSendButton{
  display: flex;
  margin: 15px auto 0;
  transition: 1.5s;
}


$bg: #f3f8fa;
$white: #fff;
$black: #282936;

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}
