<div id="mainContainer" class="container">
  <div style="margin: 20px auto; display: flex; justify-content: center;">
    <mat-spinner *ngIf="!isLoadAnswer" ></mat-spinner>
  </div>
  <div *ngIf="isLoadAnswer">
    <p style="text-align: center; color: #8773AC;" >{{message}}</p>
    <button mat-button class="btn-next"
            style="margin: 20px auto; display: flex; justify-content: center;"
            [mat-dialog-close]="emailConfirmed">Закрыть</button>
  </div>
</div>
