/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #6F42C1 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #6F42C1 !important;
  z-index: 3;
}

.mat-radio-button .mat-radio-outer-circle {
  border-color:  #6F42C1 !important;
  z-index: 3;
}

.btn-next {
  background-color: #6F42C1;
  transition: 0.5s;
  color: white;

  &:disabled {
    background-color: #9C7FD0;
    transition: 0.5s;
  }
}
.btn-cancel {
  border: solid 1.5px #6F42C1 !important;
  color: #673AB7;
  background-color: #EFEFEF;
  margin-right: 25px !important;
}
